hr.hr-color {
  border-color: #475876;
}

.circles span {
  border-color: #475876;
}

.logo {
  background-image: url("../../images/bobbie-logo-1.png");
}

.text-color {
  color: #475876;
}

.bg-color {
  background-color: #475876;
}

a:hover,
a:active,
a:focus {
  color: #475876;
}

a.link-color {
  color: #475876;
}

a.link-color:hover,
a.link-color:active,
a.link-color:focus {
  color: #475876;
}

a.link-light:hover,
a.link-light:active,
a.link-light:focus {
  color: #475876;
}

.btn-color,
.btn-color:hover,
.btn-color:active,
.btn-color:focus,
a.btn-color,
a.btn-color:hover,
a.btn-color:active,
a.btn-color:focus {
  background-color: #475876;
}

.btn-border-color,
a.btn-border-color,
.btn-border-color-dark,
a.btn-border-color-dark {
  color: #475876;
  border-color: #475876;
}

.btn-border-color:hover,
.btn-border-color:active,
.btn-border-color:focus,
a.btn-border-color:hover,
a.btn-border-color:active,
a.btn-border-color:focus,
.btn-border-color-dark:hover,
.btn-border-color-dark:active,
.btn-border-color-dark:focus,
a.btn-border-color-dark:hover,
a.btn-border-color-dark:active,
a.btn-border-color-dark:focus {
  background-color: #475876;
}

.form-control:focus {
  border-color: #475876;
}

.error .form-control:-moz-placeholder {
  color: #475876;
}

.error .form-control::-moz-placeholder {
  color: #475876;
}

.error .form-control:-ms-input-placeholder {
  color: #475876;
}

.error .form-control::-webkit-input-placeholder {
  color: #475876;
}

.form-control-color {
  background-color: transparent;
  border: 1px solid #475876;
}

#message-contact.error {
  background-color: #475876;
}

.ball-pulse-color > div {
  border-color: #475876;
}

.sidebar li:before {
  background-color: #475876;
  border-color: #475876;
}

.sidebar > li.active > a,
.sidebar > li > a:hover {
  color: #475876;
}

.navbar-button span {
  background-color: #475876;
}

.progress-bar {
  background-color: #475876;
}

.portfolio-border {
  border-color: #475876;
}

.timeline .marker.filled:before {
  background-color: #475876;
  border-color: #475876;
}

.tweet:after {
  border-color: #475876;
}

.owl-theme .owl-dots .owl-dot span {
  border-color: #475876;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background-color: #475876;
}

.owl-carousel a {
  color: #475876;
}
